interface Ethernet1
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
interface Ethernet2
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
interface Ethernet3
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
interface Ethernet4
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
interface Ethernet5
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
interface Ethernet6
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
interface Ethernet7
   switchport mode access
   switchport access vlan 20
   spanning-tree portfast
   spanning-tree bpduguard enable
!
