{% macro port_shutdown() -%}
  shutdown
  no switchport
  mac-address {{ mac_address }}
{%- endmacro %}
{% macro port_no_shutdown() -%}
  no switchport
  mac-address {{ mac_address }}
  no shutdown
{%- endmacro %}

vrf context management
  ip route 0.0.0.0/0 {{ mgmt_default_gw }}
{% for vrf in vrf_list %}
vrf context {{ vrf }}
{% endfor %}

interface mgmt0
  vrf member management
  ip address dhcp

interface Vlan1

interface Ethernet1/1
  no switchport
  mac-address {{ mac_address }}
  ip address {{ eth1_1_ip }}/{{ eth1_1_mask }}
  no shutdown

interface Ethernet1/2
  no switchport
  mac-address {{ mac_address }}
  ip address {{ eth1_2_ip }}/{{ eth1_2_mask }}
  no shutdown

interface Ethernet1/3
  no switchport
  mac-address {{ mac_address }}
  ip address {{ eth1_3_ip }}/{{ eth1_3_mask }}
  no shutdown

interface Ethernet1/4
  no switchport
  mac-address {{ mac_address }}
  ip address {{ eth1_4_ip }}/{{ eth1_4_mask }}
  no shutdown

{% for port_number in range(5, 8) %}
interface Ethernet1/{{ port_number }}
  {{ port_no_shutdown() }}

{% endfor %}
{% for port_number in range(8, 49) %}
interface Ethernet1/{{ port_number }}
  {{ port_shutdown() }}

{% endfor %}
